/*links*/
a.link {
    color: black;
    text-decoration: none;

}
nav.right {
    text-align: right;

}

/*figures*/
div.flex figure {
    flex: 1;
    background: black;
}
div.flex {
    width: 80%;
    display: flex;

}
figure {
    width: 20%;
    background: /*#EFD6F6*/ white;
    ;
}
figure.gallery {
    width: 50%;
    background: /*#EFD6F6*/ #00d6ac;
    ;
}


/*body*/
body.gallery {
    color: black;
    background: #FF9A8A;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    background: #D6DDF6;
    font-family: "Lucida Console", "Courier New", monospace;
}
body.image {
    background-image: url("log.jpg");
    background-color: #cccccc;
}

body.resume{
    color:black;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
p.resume{
    margin:100px;
}

/* header */
h1 {
    text-shadow: 2px 2px;
    text-align: center;
}
h2.resume{
    
}

/* img */
img {
    width: 80%;
}

img#PSB {
    width: 10%;
}

section {
    background: coral;
    width: 90%;
    margin: auto;
}
