/*links*/
a.link {
    color: black;
    text-decoration: none;

}
nav.right {
    color:black;
    text-align: right;

}
/*figures*/
div.flex figure {
    flex: 1;
    background: #FF9A8A;
}
div.flex2 figure {
    flex: 1;
    background:#D6DDF6;
    
    
}

footer {
      text-align: center;
      
    }
div.flex2 {
    
    display:flex;

}
div.flex {
    width: 100%;
    display: flex;

}
figure {
    width: 100%;
    background: /*#EFD6F6*/ white;
    
}
figure.shelf {
    width: 100%;
    background: #D6DDF6;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
    
}
figure.gallery {
    overflow: hidden;
    background: /*#EFD6F6*/ #00d6ac;
    
}

/*body*/
body.gallery {
    color: black;
    background: #FF9A8A;
    font-family: "Lucida Console", "Courier New", monospace;
}
body.index{
    
    font-family: "Lucida Console", "Courier New", monospace;
}
body {
    background: #D6DDF6;
    font-family: "Lucida Console", "Courier New", monospace;
}
body.image {
    background-image: url("log.jpg");
    background-color: #cccccc;
}

body.about{
    background-image: url("file:///V:/My Documents/GitHub/portfolio/docs/images/forest.jpg");
    background-repeat: no-repeat;
    
    background-size: 100% auto;
    color:black;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
div.resume{
    background-color:lightblue;
}
p.left{
    text-align:left;
}
span.righttext{
    float:right;
    
}

/* header */
.h {
    text-shadow: 2px 2px;
    text-align: center;
    color:Black;
}
#Iframe {
border-style: none; 
padding: 10px; 
width: 100%; 
height: 600px; 
}

/* img */
img {
    width: 80%;
}

section.threed{
    background:#FF9A8A;
    margin-left: auto;
    margin-right: auto;
}
section {
    background:lightblue;
    width: 90%;
}
section.resume{
    width:100%;
}
section.about {
    opacity:80%;
    background:lightblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section.compare {
    background:lightblue;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.center{
    
    margin-left: 10em;
    margin-right: 10em;
}
